*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  width: auto;
  height: auto;
  font-family: sans-serif;
  font-size: 10px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.container {
  background-color: #D3D3D3;
  text-align: left;
  width: 80%;
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: black;
  position: center;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 3%;
  width: 100%;
}

.hr{
  width: 100%;

}

h1 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3{
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.i, .location{color: #111;}
.i, .location:hover{
  color: #A6A6A6;
}

.restaurant-list {
  color: #111111;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: inline-block;
}

.content{
  width: 80%;
  margin: 0 solid #111111;
  padding-left: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.arrow{
  float: right;
  display: inline-block;
  padding: 7%;
  padding-top: 5%;
  padding-bottom: 5%
  margin: auto;
}
